
<div class="text-center">
    <span class="fas fa-spinner spin" style="display: none;"></span>
</div>
<div id="hotelesContent" class="mt-4" style="display:none;">
</div>


@section Scripts {
    <script>

        $(function () {

            loadHoteles();

            function loadHoteles() {
                $(".fa-spinner").show();
                setTimeout(function () {
                    $("#hotelesContent").load("/Hoteles/_Hoteles");
                    $("#hotelesContent").show();
                    $(".fa-spinner").hide();
                }, 2000);
            }

            $(document).on("click", ".btn", function () {
                var id = parseInt($(this).data("id"));
                $(".fa-spinner").show();
                setTimeout(function () {
                    $("#hotelesContent").load("/Hoteles/_SingleHotel?id=" + id);
                    $("#hotelesContent").show();
                    $(".fa-spinner").hide();
                }, 2000);
            });


            $(document).on("change", "#personas", function () {
                let personas = parseFloat($("#personas").val());
                let precio = parseFloat($("#actualPrice").val());
                let total = precio * personas;
                $("#precio").val(total);
            });
        });
    </script>
}
