@model List<Etiqueta>

<!-- Blog Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="d-flex justify-content-between mb-2 mx-auto">
        <a asp-controller="Blogs" asp-action="Index" class="btn btn-outline-primary">publicaciones</a>
        <a asp-controller="Blogs" asp-action="PublicarPost" class="btn btn-outline-primary">publicar post</a>
    </div>
    <div class="container py-5">
        <div class="text-center pt-5">
            <span class="fas fa-spinner spin"></span>
        </div>
        <div class="row gap-5">
            <div class="col-lg-3">
                <!-- Etiquetas -->
                <div class="mb-5">
                    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Etiquetas</h4>
                    <div class="d-flex flex-wrap m-n1 align-items-center">
                        @foreach (Etiqueta tag in Model)
                        {
                            <div class="mx-2">
                                <input type="checkbox" id="tag@(tag.IdEtiqueta)" value="@tag.Nombre" name="tags" class="form-check-input tag" />
                                <label for="tag@(tag.IdEtiqueta)"> @tag.Nombre</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="contentPost" class="col-lg-8" style="display:none">
            </div>
        </div>
    </div>
</div>

<!-- Blog End -->
@section Scripts {
    <script>
        $(function () {

            function loadPosts(url) {
                $(".fa-spinner").show();
                setTimeout(function () {
                    $("#contentPost").load(url, function () {
                        $(this).show();
                        $(".fa-spinner").hide();
                        truncateContent();
                    });
                }, 2000);
            }

            $(document).on("click", ".page-btn", function () {
                $("#contentPost").hide();
                var page = $(this).data("page");
                loadPosts("/Blogs/_Publicaciones?page=" + page);
            });

            $(document).on("click", ".btn-detail", function () {
                var idpost = $(this).data("idpost");
                $("#contentPost").hide();
                loadPosts("/Blogs/_SingleBlog?idpost=" + idpost);
            });

            loadPosts("/Blogs/_Publicaciones?page=1");

            $(document).on("change", ".tag", function () {

                var tags = [];
                $(".tag:checked").each(function () {
                    tags.push($(this).val());
                });

                var currentPage = $("#currentPage").val();

                $.ajax({
                    url: "/Blogs/_Publicaciones",
                    method: "POST",
                    data: { tags: tags, page: currentPage },
                    beforeSend: function () {
                        $(".fa-spinner").show();
                    },
                    success: function (data) {
                        $("#contentPost").html(data);
                        $(".fa-spinner").hide();
                        truncateContent();
                    },
                    error: function () {
                        $(".fa-spinner").hide();
                    }
                });


            });

            function truncateContent() {
                var elements = $(".truncate-content");
                elements.each(function (index, element) {
                    var maxLength = 100;
                    var content = element.textContent;
                    if (content.length > maxLength) {
                        var truncatedContent = content.substring(0, maxLength) + '...';
                        element.textContent = truncatedContent;
                    }
                });
            }

        });

        $(document).ready(function () {
            $(document).on("click", ".replays-btn", function () {
                var $btn = $(this);
                var idreplayBlog = $btn.data("id");

                // Ocultar todas las respuestas que no corresponden al comentario actual
                $(".replays").not(".replay-blog-" + idreplayBlog).removeClass("show");

                // Mostrar solo las respuestas del usuario correspondiente
                $(".replays").filter(".replay-blog-" + idreplayBlog).toggleClass("show");

                // Alternar la clase active-replays en el botón
                $btn.toggleClass("active-replays");
            });
        });

        // leave a comment
        $(document).on("click", "#sendcomment", function () {
            var idpost = parseInt($("#idpost").val());
            var contenido = $("#contenido").val();

            sendComment(idpost, contenido);
        })

        function sendComment(idpost, contenido) {

            var request = "/Blogs/_SingleBlog?idpost=" + idpost + "&contenido=" + contenido;

            $.ajax({
                url: request,
                type: "POST",
                success: function (data) {
                    console.log(data);
                }
            });
        }
    </script>
}
@section Styles {
    <style>
        .expand-all-button {
            display: inline-flex;
            align-items: center;
        }

            .expand-all-button label {
                font-size: 14px;
                margin-right: 8px;
            }

            .expand-all-button input[type="checkbox"]:checked {
                background-color: #e8604c;
            }

            .expand-all-button input[type="checkbox"] {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: 54px;
                height: 24px;
                border-radius: 12px;
                background-color: rgba(4, 15, 26, 0.15);
                position: relative;
                display: inline-block;
                vertical-align: middle;
                transition: all 0.3s ease;
                cursor: pointer;
            }

        [type="checkbox"],
        [type="radio"] {
            box-sizing: border-box;
            padding: 0;
        }

        .expand-all-button input[type="checkbox"]:checked::before {
            left: 31px;
        }

        .expand-all-button input[type="checkbox"]::before {
            content: "";
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            left: 1px;
            top: 1px;
            bottom: 1px;
            transition: all 0.3s ease;
            z-index: 1;
        }

        .expand-all-button input[type="checkbox"]:checked::after {
            content: "ON";
            color: #fff;
            left: 8px;
        }

        .expand-all-button input[type="checkbox"]::after {
            content: "OFF";
            color: rgba(0, 0, 0, 0.32);
            position: absolute;
            top: 50%;
            left: 27px;
            transform: translateY(-50%);
            font-size: 10px;
            font-weight: 500;
            transition: all 0.3s ease;
        }

        .replays {
            overflow: hidden;
            transition: all 0.5s ease-in-out;
            height: 0;
            will-change: max-height;
        }

            .replays.show {
                height: 125px;
            }

        .replays-btn {
            margin: 0 1em;
            color: rgba(0, 0, 0, 0.32);
            cursor: pointer;
            transition: 0.5s ease-in-out;
        }

            .replays-btn i {
                font-size: 18px;
            }

        .active-replays {
            transform: rotate(180deg);
        }
    </style>
}