@{
    List<Continente> continentes = cache.Get<List<Continente>>("continentes");
    List<Pais> paises = cache.Get<List<Pais>>("paises");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelHubAgency</title>
    <link rel="stylesheet" href="~/lib/animate/animate.min.css" />
    <link rel="stylesheet" href="~/lib/owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/google-icnons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/multistepsform.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TravelHubAgency.styles.css" asp-append-version="true" />
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB_sNNhR1rCinzXXrVxI6VhQlYUTbQbAyo&callback=initAutocomplete"
        defer>
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_sNNhR1rCinzXXrVxI6VhQlYUTbQbAyo&callback=initMap"
            async defer></script>

</head>
<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>123 Calle, Murcia, España</small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>infotravelhub@gmail.com</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i class="fab fa-youtube fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>TravelHub</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto m-md-auto py-0">
                    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link active">Inicio</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Destinos</a>
                        <div class="dropdown-menu">
                            @if (continentes != null)
                            {
                                <a asp-controller="Destinos" asp-action="Index" class="dropdown-item">
                                    Todos
                                </a>
                                @foreach (Continente cont in continentes)
                                {
                                    <a class="dropdown-item"
                                       asp-controller="Destinos"
                                       asp-action="Index"
                                       asp-route-idcontinente="@cont.IdContinente"
                                       style="color:rgba(0, 0, 0, 0.9) !important">@cont.Nombre</a>

                                }
                            }
                        </div>
                    </div>
                    <a asp-controller="Packages" asp-action="Index" class="nav-item nav-link">Paquetes</a>
                    <a asp-controller="Vuelos" asp-action="Index" class="nav-item nav-link">Vuelos</a>
                    <a asp-controller="Hoteles" asp-action="Index" class="nav-item nav-link">Hoteles</a>
                    <a asp-controller="Blogs" asp-action="Index" class="nav-item nav-link">Blog</a>
                    <partial name="_MenuUsuario" />
                </div>
            </div>
        </nav>

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white mb-3 animated slideInDown">Disfruta de tu viaje de ensueño</h1>
                        <p class="fs-4 text-white mb-4 animated slideInDown">Busca tu próximo destino...</p>
                        <div class="position-relative w-75 mx-auto animated slideInDown">
                            <input type="text" class="inputDestinoAutocomplete form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" name="destinosearched" placeholder="Ejem: Murcia, España" required>
                            <button type="button" id="btnSearch" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">buscar</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Navbar End *@
    <main role="main">
        @RenderBody()
    </main>
    @*  Back to Top *@
    <a href="#" id="btn-backtop" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5" style="margin:0;">
            <div class="col-lg-3 col-md-6 mb-5">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <h1 class="text-primary"><span class="text-white">TRAVEL</span>HUB</h1>
                </a>
                <p>Sed ipsum clita tempor ipsum ipsum amet sit ipsum lorem amet labore rebum lorem ipsum dolor. No sed vero lorem dolor dolor</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Siguenos en</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-outline-primary btn-square mr-2" asp-controller="Home" asp-action="Index"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" asp-controller="Home" asp-action="Index"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" asp-controller="Home" asp-action="Index"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-primary btn-square" asp-controller="Home" asp-action="Index"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Servicios</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="#Viajes-por-todo-el-mundo"><i class="fa fa-angle-right mr-2"></i>Viajes por todo el mundo</a>
                    <a class="text-white-50 mb-2" href="#Hoteles"><i class="fa fa-angle-right mr-2"></i>Hoteles</a>
                    <a class="text-white-50 mb-2" href="#Guias-turísticos"><i class="fa fa-angle-right mr-2"></i>Guides</a>
                    <a class="text-white-50" asp-controller="Home" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Blog</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Enlaces</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" asp-controller="Home" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Nosotros</a>
                    <a class="text-white-50 mb-2" asp-controller="Home" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Destinos</a>
                    <a class="text-white-50 mb-2" asp-controller="Home" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Servicios</a>
                    <a class="text-white-50 mb-2" asp-controller="Home" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Paquetes</a>
                    <a class="text-white-50 mb-2" asp-controller="Home" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Guias</a>
                    <a class="text-white-50" asp-controller="Home" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Blog</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contactanos</h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>123 Calle, Murcia, España</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                <p><i class="fa fa-envelope mr-2"></i>infotravelhub@gmail.com</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Newsletter</h6>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Your Email">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-3 h-100">inscribete ya!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white-50">
                    2024 &copy; <a asp-controller="Home" asp-action="Index">Travelhub</a>. Derechos reservados.</a>
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <p class="m-0 text-white-50">
                    made by <a href="https://github.com/werkuLopez">werku</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/SearchDestinoMapa.js"></script>
    <script src="~/js/googleMapAutocomplete.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/js/easing.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/fontaweson.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)


</body>
</html>
