@if (Context.User.Identity.IsAuthenticated)
{
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Perfil</a>
        <div class="dropdown-menu">
            <a href="#reservas" class="dropdown-item">Reservas</a>
            <a href="#mis-post" class="dropdown-item">Mis posts</a>
            <a href="#mis-post" class="dropdown-item">Mis posts</a>
            <a href="#mis-post" class="dropdown-item">Mis posts</a>
            <a asp-controller="Usuarios" asp-action="Perfil" class="dropdown-item">Mis datos</a>
            <a asp-controller="Managed" asp-action="LogOut" class="dropdown-item">Cerrar sesión</a>
        </div>
    </div>

    @if (Context.User.IsInRole("Administrador"))
    {
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Acciones</a>
            <div class="dropdown-menu">
                <a asp-controller="Destinos" asp-action="CrearDestino" class="dropdown-item">Crear destino</a>
                <a asp-controller="Packages" asp-action="nuevo" class="dropdown-item">Crear pack</a>
                <a asp-controller="Hoteles" asp-action="nuevo" class="dropdown-item">Crear hotel</a>
                <a asp-controller="Vuelos" asp-action="CrearVuelo" class="dropdown-item">Crear vuelo</a>
            </div>
        </div>
    }
}
else
{
    <a asp-controller="Usuarios" asp-action="Perfil"
       class="nav-item nav-link">Perfil</a>
    @*     class="btn btn-primary rounded-pill py-2 px-4" *@
}