<!-- paginación -->
<!-- fin paginación-->
<!-- vuelos -->
<div class="mt-4" id="contentVuelos">
</div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_sNNhR1rCinzXXrVxI6VhQlYUTbQbAyo&callback=initMap" async defer></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>

        var map;
        var marcador;
        var currentTab = 0;

        $(function () {

            loadVuelosPartial();

            async function loadVuelosPartial() {
                $("#contentVuelos").load("/Vuelos/_Vuelos", async function () {
                    await initMap();
                });
            }

            // -ver detalles vuelo
            $(document).on("click", ".detailVuelo", function () {

                var idVuelo = $(this).data("id");
                console.log(idVuelo);

                $("#contentVuelos").load("/Vuelos/_DetalleVuelo?idvuelo=" + idVuelo);
            });

            $(document).on("click", ".modVuelo", function () {
                var idVuelo = $(this).data("id");
                $("#contentVuelos").load("/Vuelos/_UpdateVuelo?idvuelo=" + idVuelo);
            });

            // -comprar vuelo
            $(document).on("click", ".comprarVuelo", function () {
                var idvuelo = $(this).data("id");
                $("#contentVuelos").load("/Vuelos/_ComprarVuelo?idvuelo=" + idvuelo);
            });

            $(document).on("click", "#guardarcambios", function () {
                var aerolinea = $("#aerolinea").val();
                var destino = parseInt($("#iddestino").val());
                var origen = $("#origen").val();
                var fechaSalida = $("#fechasalida").val();
                var precio = $("#precio").val();
                var latitud = $("#latitudOrigen").val();
                var longitud = $("#longitudOrigen").val();
                var idvuelo = parseInt($(this).data("id"));

                var data = {
                    IdVuelo: idvuelo,
                    Origen: origen,
                    IdDestino: destino,
                    Aerolinea: aerolinea,
                    FechaSalida: fechaSalida,
                    FechaLlegada: "01/01/0001",
                    Duracion: "00:00",
                    Precio: precio
                }

                var json = JSON.stringify(data);

                $.ajax({
                    url: "/Vuelos/_UpdateVuelo?latitud=" + latitud + "&longitud=" + longitud,
                    method: "PUT",
                    data: json,
                    success: function (data) {
                        setTimeout(function () {
                            $("#mensaje").addClass("text-success");
                            $("#mensaje").text("Vuelo modificado correctamente");
                        }, 5000)
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $("#mensaje").addClass("text-danger");
                            $("#mensaje").text("Error al modificar el Vuelo");
                        }, 5000)
                    }
                })
            });

            $(document).on("change", "#origen", async function () {
                await initMap();
            });

            async function initMap() {
                map = new google.maps.Map(document.getElementById("mapadestino"), {
                    zoom: 14,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                marcador = new google.maps.Marker({
                    draggable: true
                });

                await movePin();
            }

            async function movePin() {

                var geocoder = new google.maps.Geocoder();
                var searched_destino = $("#origen").val();

                geocoder.geocode({
                    "address": searched_destino
                }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {

                        console.log("Latitud: ", results[0].geometry.location.lat());
                        console.log("Longitud: ", results[0].geometry.location.lng());

                        console.log(results[0].address_components);

                        $("#origen").val(results[0].address_components[0].long_name);
                        $("#latitudOrigen").val(results[0].geometry.location.lat());
                        $("#longitudOrigen").val(results[0].geometry.location.lng());

                    } else {
                        console.error("Geocode was not successful for the following reason: " + status);
                    }
                });
            }

            function showTab(n) {
                var steps = $(".step");
                steps.hide();
                $(steps[n]).show();

                $(".stepIndicator").removeClass("active");
                $(`.stepIndicator:eq(${n})`).addClass("active");

                if (n == 0) {
                    $("#prevBtn").hide();
                } else {
                    $("#prevBtn").show();
                }

                if (n == (steps.length - 1)) {
                    $("#nextBtn").hide();
                    var submitBtn = $("<button>");
                    submitBtn.text("Confirmar pago");
                    submitBtn.attr("id", "submitBtn");
                    submitBtn.attr("type", "button");


                    $("#nextBtn").replaceWith(submitBtn);

                    $(document).on("click", "#submitBtn", function () {

                        if (validatePaymentMethod()) {

                            var precio = parseInt($("#signUpForm #precio").val());
                            var metodoPago = $("#signUpForm input[name='MetodoPago']:checked").val();
                            var idvuelo = parseInt($("#signUpForm #IdVuelo").val());

                            var data = {
                                IdPago: 0,
                                IdVuelo: idvuelo,
                                FechaPago: "01/01/0001",
                                MetodoPago: metodoPago,
                                Usuario: 0,
                                Precio: precio
                            }

                            var json = JSON.stringify(data);

                            $.ajax({
                                url: "/Vuelos/_ComprarVuelo?idvuelo=" + idvuelo,
                                method: "POST",
                                data: json,
                                success: function (data) {
                                    console.log(data);
                                    setTimeout(function () {
                                        $("#mensaje").addClass("text-success");
                                        $("#mensaje").text("Pago realizado correctamente");
                                    }, 3000)
                                },
                                error: function (data) {
                                    setTimeout(function () {
                                        $("#mensaje").addClass("text-danger");
                                        $("#mensaje").text("Error al realizar el Pago");
                                    }, 3000)
                                }
                            });
                        } else {
                            alert("Seleccione un método de pago");
                        }
                    });
                } else {
                    var nextBtn = $("<button>");
                    nextBtn.attr("id", "nextBtn");
                    nextBtn.data("step", 1);
                    nextBtn.attr("type", "button");
                    nextBtn.text("Siguiente");
                    $("#submitBtn").replaceWith(nextBtn);
                }

                console.log("Step activo: ", steps[n]);
            }

            $(document).on("click", "#nextBtn", function () {
                if (currentTab === 1) {
                    if (validatePaymentMethod()) {
                        nextPrev(1);
                    } else {
                        alert("Seleccione un método de pago");
                    }
                } else {
                    var next = $(this).data("step");
                    console.log("next: ", next);
                    nextPrev(next);
                }
            });

            $(document).on("click", "#prevBtn", function () {
                var prev = $(this).data("step");
                console.log("prev: ", prev);
                nextPrev(prev);
            });

            function nextPrev(n) {
                var steps = $(".step");
                if (currentTab + n >= 0 && currentTab + n < steps.length) {
                    steps[currentTab].style.display = "none";
                    currentTab += n;
                    showTab(currentTab);
                }
            }

            function validatePaymentMethod() {
                // Validar que se haya seleccionado un método de pago
                return $("input[name='MetodoPago']:checked").length > 0;
            }

        });

    </script>

}
@section Styles {
    <style>
        body {
            font-family: 'Inknut Antiqua', serif;
            font-family: 'Ravi Prakash', cursive;
            font-family: 'Lora', serif;
            font-family: 'Indie Flower', cursive;
            font-family: 'Cabin', sans-serif;
            font-family: "Heebo", sans-serif;
        }

        #flights {
            height: 100%;
            background: #DDD;
        }

        div.container {
            max-width: 1350px;
            margin: 0 auto;
            overflow: hidden;
        }

        .upcomming {
            font-size: 25px;
            text-transform: uppercase;
            border-left: 14px solid rgba(232, 96, 76,0.78);
            padding-left: 12px;
            margin: 18px 8px;
        }

        .container .item {
            width: 100%;
            float: left;
            padding: 0 20px;
            background: #fff;
            overflow: hidden;
            margin: 10px
        }

        .container .item-right, .container .item-left {
            float: left;
            padding: 20px
        }

        .container .item-right {
            padding: 79px 50px;
            margin-right: 20px;
            width: 25%;
            position: relative;
            height: 286px
        }

            .container .item-right .up-border, .container .item-right .down-border {
                padding: 14px 15px;
                background-color: #ddd;
                border-radius: 50%;
                position: absolute
            }

            .container .item-right .up-border {
                top: -8px;
                right: -35px;
            }

            .container .item-right .down-border {
                bottom: -13px;
                right: -35px;
            }

            .container .item-right .num {
                font-size: 60px;
                text-align: center;
                color: #111
            }

            .container .item-right .day, .container .item-left .event {
                color: #555;
                font-size: 20px;
                margin-bottom: 9px;
            }

            .container .item-right .day {
                text-align: center;
                font-size: 25px;
            }

        .container .item-left {
            width: 71%;
            padding: 34px 0px 19px 46px;
            border-left: 3px dotted #999;
        }

            .container .item-left .title {
                color: #111;
                font-size: 34px;
                margin-bottom: 12px
            }

            .container .item-left .sce {
                margin-top: 5px;
                display: block
            }

                .container .item-left .sce .icon, .container .item-left .sce p,
                .container .item-left .loc .icon, .container .item-left .loc p {
                    float: left;
                    word-spacing: 5px;
                    letter-spacing: 1px;
                    color: #888;
                    margin-bottom: 10px;
                }

                .container .item-left .sce .icon, .container .item-left .loc .icon {
                    margin-right: 10px;
                    font-size: 20px;
                    color: #666
                }

            .container .item-left .loc {
                display: block
            }

        .fix {
            clear: both
        }

        .container .item .btn {
            color: #fff;
            padding: 6px 14px;
            float: right;
            margin-top: 10px;
            font-size: 18px;
            border: none;
            cursor: pointer
        }

        .container .item .btn {
            background: #14141f
        }

            .container .item .btn:hover {
                background: #343a40;
            }

        .linethrough {
            text-decoration: line-through
        }

        @@media only screen and (max-width: 1150px) {
            .container .item {
                width: 100%;
                margin: 1em 0;
            }

            div.container {
                margin: auto 0;
            }
        }

        @@media only screen and (max-width:1149.98px) {
            .down-border {
                display: block !important;
            }
        }

        @@media only screen and (max-width:1189.89px) {
            .down-border {
                display: none;
            }
        }
    </style>
}